<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @keyword.titre %>
</p>

<p>
  <strong>Assigned articles:</strong>
  <%= @keyword.assigned_articles %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
